/* HEADER */
.header {
  /* background-color: rgb(6, 58, 58); */
  padding: 5px;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

/* TODOS DE LA LISTA */
.header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}
/* 
QUITA CADA PUNTO */
.header ul li{


    list-style-type: none;
}


.header ul li a {
  margin: 10px;
  color: white;
  /* list-style: none; */
  font-display: none;
}
